$radius: 70px;

.head {
    margin: auto 0;
   // background-color: orange;
    border: 1em;
    display: flex;
    align-items: center;
    flex: 1;
    // border-bottom: 1px solid black;
}

h1 {
    float: left;
    flex: 1;
    margin-left: 10px auto;
    font-size: 3rem;
}

button {
    box-sizing: border-box;
    height: 40px;
    width: 80px;
    border-radius: $radius;
    font-size: 100%;
    float: right;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    background-color: white;

    &:hover {
        background-color: darken($color: white, $amount: 3%);
    }
}

