$radius: 70px;

.header-container {
    margin: auto 0;
   // background-color: orange;
    border: 1em;
    display: flex;
    //align-items: center;
    //flex-direction: inherit;
    width: 100%;
    // border: 1px solid black;
    justify-content: space-between;

    ::after{
        content: "";
        display: block;
        clear: both;
    }
     
}

.header-title {
    margin-left: 10px auto;
    font-size: 1em;
    display: flex;
    
}


.header-items {
    display: flex;
    align-items: center;
}

button {
    box-sizing: border-box;
    height: 40px;
    width: 80px;
    border-radius: $radius;
    font-size: 100%;
   // float: right;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;

    &:hover {
        background-color: darken($color: transparent, $amount: 5%);
    }
}

